---
- name: Fetch files from central location
  ansible.builtin.fetch:
    src: /tmp/home/userfiles/{{ item }}
    dest: /tmp
    flat: yes
  loop:
    - passwd
    - shadow
    - group
    - gshadow

- name: Restore version controlled user files
  ansible.builtin.copy:
    src: /tmp/{{ item.name }}
    dest: /etc/{{ item.name }}
    owner: root
    group: root
    mode: "{{ item.mode }}"
  loop:
    - name: passwd
      mode: '0644'
    - name: shadow
      mode: '0000'
    - name: group
      mode: '0644'
    - name: gshadow
      mode: '0000'

- name: Find additional mail users
  ansible.builtin.find:
    paths: /var/mail
    file_type: file
    excludes: 
      - "awx"
  register: found_files

- name: Delete additional mail users
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ found_files['files']|flatten(levels=1) }}"

- name: Find additional home directories
  ansible.builtin.find:
    paths: /home
    file_type: directory
    excludes: 
      - "adworjan"
      - "ansible"
      - "ldixon"
  register: found_home_dir

- name: Delete additional home directories
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ found_home_dir['files']|flatten(levels=1) }}"

- name: Get Host id
  ansible.builtin.uri:
    url: https://{{ lookup('env', 'TOWER_HOST') }}/api/v2/hosts/?name={{ inventory_hostname }}&inventory_id=5
    user: "{{ lookup('env', 'TOWER_USERNAME') }}"
    password: "{{ lookup('env', 'TOWER_PASSWORD') }}"
    force_basic_auth: true
    method: "GET"
    status_code: "200"
    validate_certs: no
  check_mode: false
  register: host_details

- name: Retrieve Job Summaries
  ansible.builtin.uri:
    url: https://{{ lookup('env', 'TOWER_HOST') }}/api/v2/hosts/{{ host_details.json.results[0].id }}/job_host_summaries/?job__job_template_id=581&created__regex={{ ansible_date_time.date }}
    user: "{{ lookup('env', 'TOWER_USERNAME') }}"
    password: "{{ lookup('env', 'TOWER_PASSWORD') }}"
    force_basic_auth: true
    method: "GET"
    status_code: "200"
    validate_certs: no
  check_mode: false
  register: job_details

- name: Counter value
  ansible.builtin.set_fact:
    counter: "{{ job_details | regex_findall('processed') | length }}"

- name: Create Support Ticket
  servicenow.itsm.incident:
    state: new
    description: "Too many attempted user creations on a single host ({{ counter }} today)"
    short_description: "User Creation Violation"
    caller: admin
    urgency: "medium"
    impact: "high"
    other:
      u_operating_system: "{{ os | default(omit) }}"
      u_ip_address: "{{ ip_addr | default(omit) }}"
      u_vm_name: "{{ inventory_hostname | default(omit) }}"
  register: new_incident
  delegate_to: localhost
  when: counter|int >=4
