{
  "name": "{{ item }}",
  "auto_reboot": true,
  "add": {
    "issues": [
      {
        "id": "vulnerabilities:{{ item }}",
        "systems": [
          "{{ insights_adv_host_data.inventory_id }}"
        ]
      }
    ]
  }
}